.shorten-link {
	background-color: rgb(239, 241, 247);
	padding: 3em 0 2em;
}

.input.error {
	border: 3px solid hsl(0, 87%, 67%);
	color: hsl(0, 87%, 67%);
}

.card-form {
	padding: 2em;
	background-color: hsl(257, 27%, 26%);
	background-image: url('../../assets/images/bg-shorten-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.6rem;
	margin-bottom: 0.8em;
	margin-top: -6em;
}

.card {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.input-info,
.button-info {
	width: 100%;
	margin-left: 3em;
}

input {
	border: none;
	border-radius: 0.5rem;
	padding: 0.5em 1.5em;
	font-weight: 500;
	height: 40px;
	width: 850px;
}

input::placeholder {
	font-weight: 500;
	color: hsl(0, 0, 75%);
	font-size: 1.3rem;
}

input:focus {
	box-shadow: none;
}

.btn-shorten {
	border: none;
	color: rgb(255, 255, 255);
	background-color: hsl(180, 66%, 49%);
	height: 40px;
	width: 150px;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	text-align: center;
	font-weight: bold;
	margin-left: 2em;
	cursor: pointer;
	transition: background-color 0.4s;
}

.btn-shorten:hover {
	background-color: hsl(180, 66%, 70%);
}

.error {
	color: hsl(0, 87%, 67%);
	font-size: 1.2rem;
	margin: 0.5em;
	font-weight: 500;
}

.card-info {
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.li-item {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 0.7em;
	background-color: #ffffff;
	border-radius: 0.4rem;
	padding: 1em;
}

.long-link,
.short-link {
	text-decoration: none;
	font-size: 1.8rem;
	display: block;
}
.long-link {
	color: rgb(0, 0, 0);
	padding: 1em;
}

.short-link {
	color: hsl(180, 66%, 49%);
	font-weight: 500;
	margin: 0 2em;
}

.btn-copy {
	border: none;
	background-color: hsl(180, 66%, 49%);
	height: 40px;
	width: 120px;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	text-align: center;
	font-weight: bold;
	color: #ffffff !important;
	margin-left: auto;
	cursor: pointer;
	transition: background-color 0.4s;

}

.btn-copy:hover {
	background-color: hsl(180, 66%, 70%);
}

.btn-copy.copied {
	background-color: hsl(257, 27%, 26%);
}

@media (max-width: 1170px) {
	.shorten-link {
		padding: 2em 0 2em;
	}

	.card-form {
		padding: 1em;
		background-image: url('../../assets/images/bg-shorten-mobile.svg');
		margin-left: 1em;
		margin-right: 1em;
	}

	.card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	input {
		padding: 0.6em 1em;
		margin-bottom: 1em;
		width: 100%;
	}

	.btn-shorten {
		width: 100%;
		margin-left: 0;
	}

	.input-info,
	.button-info {
		margin-left: 0;
	}

	.card-link {
		margin: 1em;
	}

	.card-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		border-top: 0.1em solid hsl(257, 7%, 63%);
		padding: 1em;
	}

	.li-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}

	.btn-copy {
		width: 100%;
		margin-top: 1em;
	}

	.short-link {
		margin: 0;
	}

	.long-link {
		padding: 1em;
	}
}
